body {
    font-family: Arial, Verdana, sans-serif;
    color: #111111;
}

table {
    width: 600px;
    border-collapse: collapse;
}

th, td {
    padding: 7px 10px 10px 10px;
}

th {
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #311111;
    border-top: 1px solid #999;
    text-align: left;
}

tr.even {
    background-color: #efefef;
}

tr:hover {
    background-color: #2c3e50;
    color: white;
}

.money {
    text-align: right;
}
